**/.DS_Store
**/target
**/node_modules
**/.cursor/debug.log
**/*.tsbuildinfo
**/.cursor/debug-data.json
**/.cursor/debug-result.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# dn
.dn
